In [4]:
import pandas as pd
import config

df = pd.read_csv(f'{config.TRAINING_DATA_PATH}/dataset.csv')

In [8]:
""" This prints out the greatest fighters of all time according to ELO as of their last fight """

latest_fights = df.sort_values(by='date').groupby('fighter_red').tail(1)

latest_fights[['fighter_red', 'elo_red']].sort_values(by='elo_red', ascending=False).head(10)

                 fighter_red      elo_red
13050              Jon Jones  1459.471758
8097       Georges St-Pierre  1410.694413
13090           Kamaru Usman  1380.075794
8835      Demetrious Johnson  1372.498448
13306  Alexander Volkanovski  1363.886348
10901    Khabib Nurmagomedov  1357.388028
13394      Aljamain Sterling  1348.973394
13351         Dustin Poirier  1333.197571
11320           Stipe Miocic  1332.579461
10697         Daniel Cormier  1326.804022

In [10]:
""" This prints out the greatest fighters of all time at the top of their career by max ELO """

max_elo_fighters = df.loc[df.groupby('fighter_red')['elo_red'].idxmax()]

max_elo_fighters[['fighter_red', 'elo_red']].sort_values(by='elo_red', ascending=False).head(25)

                 fighter_red      elo_red
13050              Jon Jones  1459.471758
8097       Georges St-Pierre  1410.694413
12708           Kamaru Usman  1403.051970
4168          Anderson Silva  1394.682489
13010  Alexander Volkanovski  1387.004382
8835      Demetrious Johnson  1372.498448
12863        Israel Adesanya  1357.448081
10901    Khabib Nurmagomedov  1357.388028
13394      Aljamain Sterling  1348.973394
7444          Donald Cerrone  1347.983397